MonicaDataFactory16/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "MonicaDataFactory16"
		},
		"AzureDataLakeStoragelinkedser_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStoragelinkedser'"
		},
		"HttplinkedServer2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'HttplinkedServer2'"
		},
		"httplinkedservices1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'httplinkedservices1'"
		},
		"AzureDataLakeStoragelinkedser_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageunitycatalogus2.dfs.core.windows.net/"
		},
		"HttplinkedServer2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com"
		},
		"HttplinkedServer2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "MoniAnto"
		},
		"httplinkedservices1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com"
		},
		"httplinkedservices1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "MoniAnto"
		},
		"endpointAzureDataLakeStorage_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/8d70b7b4-d2e4-4262-bb0f-0b4608c1a795/resourceGroups/rg-unitycatalog-eastus2/providers/Microsoft.Storage/storageAccounts/storageunitycatalogus2"
		},
		"endpointAzureDataLakeStorage_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"endpointAzureDataLakeStorage_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"storageunitycatalogus2.dfs.core.windows.net"
			]
		},
		"monicaAzureDataLakeStorage168_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/8d70b7b4-d2e4-4262-bb0f-0b4608c1a795/resourceGroups/rg-unitycatalog-eastus2/providers/Microsoft.Storage/storageAccounts/storageunitycatalogus2"
		},
		"monicaAzureDataLakeStorage168_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"monicaAzureDataLakeStorage168_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"storageunitycatalogus2.dfs.core.windows.net"
			]
		},
		"monicaendpoint_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/8d70b7b4-d2e4-4262-bb0f-0b4608c1a795/resourceGroups/rg-unitycatalog-eastus2/providers/Microsoft.Storage/storageAccounts/storageunitycatalogus2"
		},
		"monicaendpoint_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"monicaendpoint_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"storageunitycatalogus2.dfs.core.windows.net"
			]
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/git_to_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "http_git_raw1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "http_git_raw2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/http_git_raw1')]",
				"[concat(variables('factoryId'), '/datasets/adls_sink')]",
				"[concat(variables('factoryId'), '/datasets/http_git_raw2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw to bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "file1 copying",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStoragelinkedser",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Uniq Id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Uniq_Id",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product_Name",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "bronze_source1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_br1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "file1 copying",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStoragelinkedser",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Uniq Id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Uniq_Id",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Main Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Main_Category",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Main_Category_And_Sub_Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Main_Category_And_Sub_Category",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Selling Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Selling_Price",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Quantity",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "About Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "About_Product",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product Specification",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product_Specification",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Technical Details",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Technical_Details",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Shipping Weight",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Shipping_Weight",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product Dimensions",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product_Dimensions",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Image",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Image",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Variants",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Variants",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Sku",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sku",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product Url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product_Url",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Is Amazon Seller",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Is_Amazon_Seller",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "bronze_source2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_br1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_source1')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_br1')]",
				"[concat(variables('factoryId'), '/datasets/bronze_source2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragelinkedser')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_br1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragelinkedser",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "monica_dictionary/Bronze_file",
						"fileSystem": "uc-metastore-eastus2"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragelinkedser')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragelinkedser",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "monica_dictionary/Raw",
						"fileSystem": "uc-metastore-eastus2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragelinkedser')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_source1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragelinkedser",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Ecommerce market data Id and Product Name.csv",
						"folderPath": "monica_dictionary/Raw/MoniAnto/Monica/main",
						"fileSystem": "uc-metastore-eastus2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Uniq Id",
						"type": "String"
					},
					{
						"name": "Product Name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragelinkedser')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_source2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragelinkedser",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Ecommerce market data Product Details.csv",
						"folderPath": "monica_dictionary/Raw/MoniAnto/Monica/main",
						"fileSystem": "uc-metastore-eastus2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Uniq Id",
						"type": "String"
					},
					{
						"name": "Main Category",
						"type": "String"
					},
					{
						"name": "Main_Category_And_Sub_Category",
						"type": "String"
					},
					{
						"name": "Selling Price",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "About Product",
						"type": "String"
					},
					{
						"name": "Product Specification",
						"type": "String"
					},
					{
						"name": "Technical Details",
						"type": "String"
					},
					{
						"name": "Shipping Weight",
						"type": "String"
					},
					{
						"name": "Product Dimensions",
						"type": "String"
					},
					{
						"name": "Image",
						"type": "String"
					},
					{
						"name": "Variants",
						"type": "String"
					},
					{
						"name": "Sku",
						"type": "String"
					},
					{
						"name": "Product Url",
						"type": "String"
					},
					{
						"name": "Is Amazon Seller",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragelinkedser')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/http_git_raw1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "httplinkedservices1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "MoniAnto/Monica/main/Ecommerce%20market%20data%20Id%20and%20Product%20Name.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/httplinkedservices1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/http_git_raw2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttplinkedServer2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "MoniAnto/Monica/main/Ecommerce%20market%20data%20Product%20Details.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttplinkedServer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoragelinkedser')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStoragelinkedser_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStoragelinkedser_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttplinkedServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttplinkedServer2_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('HttplinkedServer2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('HttplinkedServer2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/httplinkedservices1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('httplinkedservices1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('httplinkedservices1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('httplinkedservices1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/endpointAzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('endpointAzureDataLakeStorage_properties_privateLinkResourceId')]",
				"groupId": "[parameters('endpointAzureDataLakeStorage_properties_groupId')]",
				"fqdns": "[parameters('endpointAzureDataLakeStorage_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/monicaAzureDataLakeStorage168')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('monicaAzureDataLakeStorage168_properties_privateLinkResourceId')]",
				"groupId": "[parameters('monicaAzureDataLakeStorage168_properties_groupId')]",
				"fqdns": "[parameters('monicaAzureDataLakeStorage168_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/monicaendpoint')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('monicaendpoint_properties_privateLinkResourceId')]",
				"groupId": "[parameters('monicaendpoint_properties_groupId')]",
				"fqdns": "[parameters('monicaendpoint_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}